*.*~
.DS_Store
_darcs/
.svn/
build/
etc/
dist/
*.docx
*.xls
*.pyc
*.cmo
*.cmi
*.zip
*.dmg
backup.log
# already included
ot-factorial/
# I don't care about my attempt to generate Word-formatted tableaux
word/
# other people's code
googlecode-upload.py
otableau*
.otableau
TeX/
wxint.py
__init__.py
__version__.py
setup.py
contrib.py
roa-321-heiberg-1.pdf
settings.osx
settings.ini
todo.txt
Interface.py
OTExport.py
OTFile.py
OTGrammar.py
OTabScrolledList.py
OTabSettings.py
OTabTextData.py
OTabTextWindow.py
test.py
test.diff
test_Interface.py
test_OTExport.py
test_OTFile.py
test_OTGrammar.py
update-applet.sh
update-exe.bat
update-src.sh
bundle